<div class="container container-slider">
  <label class="switch">
    <input type="checkbox" class="switch-input" />
    <span class="switch-clider"></span>
  </label>
</div>

<div class="container-search">
  <label for="search"></label>
  <div class="container-input">
    <input
      class="input-search"
      type="search"
      name="serch"
      id="search"
      placeholder="Search for your preffered city..."
    />
    <svg class="input-icon" width="40" height="46">
      <use href="./img/icons.svg#search"></use>
    </svg>
  </div>
</div>

<button type="button" class="btn-location">Current Location</button>
